# Dependências do Node.js
node_modules/

# Arquivos de log
npm-debug.log
yarn-error.log
yarn-debug.log

# Artefatos gerados pelo Cypress
/cypress/screenshots/
/cypress/videos/
/cypress/reports/

# Arquivos de cobertura de código
/coverage/
.nyc_output/

# Arquivos de ambiente locais (para armazenar chaves de API, etc.)
cypress.env.json
.env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db